{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jsdoc"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  // Disable recommended JSDoc set to avoid noisy missing-doc warnings
  // "plugin:jsdoc/recommended",
    "prettier"
  ],
  "rules": {
  "no-console": 1, // Warn only
  "prettier/prettier": 2, // Error on formatting issues in scoped files
  // Reduce noise during active refactor
  "jsdoc/require-jsdoc": 0,
  "no-empty": 0,
  "no-control-regex": 0,
  "no-useless-escape": 0,
  "prefer-const": 0,
  "@typescript-eslint/ban-ts-comment": 0,
  "@typescript-eslint/no-explicit-any": 0,
  "@typescript-eslint/no-non-null-assertion": 0,
  "@typescript-eslint/no-inferrable-types": 0,
  "@typescript-eslint/no-empty-function": 0
  }
}
